[2016-06-08 08:28] JimSEOW opened #1 "Cross platform zoomable User Interfaces (ZUI’s) with SceneGraph"
HI, I was looking at Urho and I found your link.
Perhaps you could be interested with the following links (especially the last one: piccolo2D.NET c# github)
https://en.wikipedia.org/wiki/Zooming_user_interface
http://c2.com/cgi/wiki?ZoomableUserInterface
http://www.cs.umd.edu/hcil/piccolo/learn/patterns.shtml
https://github.com/piccolo2d/piccolo2d.net

[2016-06-11 18:43] wieslawsoltes commented on #1
@JimSEOW Thanks for links, I have come across those concepts some time ago, but they are far beyond this project  scope.

[2016-06-11 22:14] JimSEOW commented on #1
@wieslawsoltes Thanks for the reply. I have used piccolo2D.NET. I wish there is something like that using SkiaSharp as the underlying drawing engine. Currently the xamarin's XAML is the most cross platform for mobile devices. it is still unclear for me which is the leading community effort in bringing WPF XAML to cross platform.

[2016-06-11 22:23] wieslawsoltes commented on #1
@JimSEOW I use [Avalonia]( https://github.com/AvaloniaUI/Avalonia), its still in alpha. Avalonia is using SkiaSharp as one of possible drawing engines available. You can try it in action here: https://github.com/wieslawsoltes/MatrixPanAndZoomDemo/tree/master/src/Avalonia.Controls.PanAndZoom and here https://github.com/Core2D/Core2D/tree/master/src/Core2D.Avalonia.Skia (using SkiaSharp).

[2016-06-11 22:27] JimSEOW commented on #1
@wieslawsoltes Thanks! I have yet to learn more about Avalonia. I also look at [WPF LiveCharts](https://github.com/beto-rodriguez/Live-Charts). In your view, how much effort to put Core2D.Avalonia.Skia  as the underlying drawing engine for Live-Charts?

[2016-06-11 22:37] wieslawsoltes commented on #1
@JimSEOW With Avalonia you write drawing code once ([see Core2D Avalonia renderer example](https://github.com/Core2D/Core2D/blob/master/dependencies/Renderer.Avalonia/AvaloniaRenderer.cs)) and than just target specific platforms like [Skia](https://github.com/Core2D/Core2D/blob/master/src/Core2D.Avalonia.Skia/Program.cs#L42) or [Direct2D](https://github.com/Core2D/Core2D/blob/master/src/Core2D.Ava

[2016-06-11 22:49] JimSEOW commented on #1
@wieslawsoltes thanks for the [AvaloniaRenderer.cs](https://github.com/Core2D/Core2D/blob/master/dependencies/Renderer.Avalonia/AvaloniaRenderer.cs). I will take a look. I also spoke to the guys behind Live-Charts recently (less than 1 week). Using SkiaSharp is definitely of interest to them. It would be good if there is an "overview" guide (FIRST) on how to glue WPF to SkiaSharp and eventually le

[2016-06-11 23:01] wieslawsoltes commented on #1
@JimSEOW If Live-Charts could extract core functionality to portable library and abstract the rendering and other stuff it would be much easier to port to Avalonia. Avalonia itself is not defendant on any rendering engine (its has bindings to Cairo, Direct2D, SkiaSharp) or windowing system.

[2016-06-11 23:04] JimSEOW commented on #1
@wieslawsoltes thanks. First, I need to figure out the information you have provided. Great job for your years of work on cross platform WPF vector drawing solutions!

[2016-08-06 11:28] #1 closed

[2016-12-02 00:01] SuperJMN opened #2 "NotReallyAnIssue: Request: Viewbox control"
A pure layout control that is useful for some scenarios and I have already missed in Avalonia :)

[2016-12-02 06:42] wieslawsoltes commented on #2
@SuperJMN That would be nice, but the goal of `PanAndZoom` was only to be pan and zoom control using `RenderTransform`. You can emulate the behavior of ViewBox by setting the AutoFitMode property to Extent or Fill.

https://github.com/PanAndZoom/PanAndZoom/blob/master/src/Avalonia.Controls.PanAndZoom/ZoomBorder.cs#L45
https://github.com/PanAndZoom/PanAndZoom/blob/master/src/Avalonia.Controls.PanAn

[2016-12-24 17:22] #2 closed

[2017-03-27 22:39] Art77 opened #3 "In the upper right corner of the scalable container slides down and sideways"
Hi. Excellent zoom!) I noticed that after scaling (reduction), the upper right corner of a scalable container slides down and to the side, in the end, and all content. I tried to override MeasureOverride, but nothing good came out...
PS WPF

[2017-03-27 23:35] #3 closed

[2017-03-29 10:26] Art77 opened #4 "Child.Size == ZoomBorder.Size and Save zoom"
Good afternoon. Torments me one question how it is possible to stretch the container/component after the zoom to the size ZoomBorder, while maintaining the output of the zoom?

[2017-03-29 10:35] wieslawsoltes commented on #4
Not sure what is your question. You can set `AutoFitMode` property for different zoom behavior.

You have three options here:
* `AutoFitMode="None"` for manual zoom
* `AutoFitMode="Extent"` automatic zoom to maintain aspect ration of control
* `AutoFitMode="Fill"`  automatic zoom to fill container

[2017-03-29 11:04] Art77 commented on #4
See no difference :(

[2017-03-29 12:05] wieslawsoltes commented on #4
@Art77 Could you provide example of what you want achieve with zoom control, this would help solving the issue.

[2017-03-29 13:22] Art77 commented on #4
Container (Canvas) contains components in this case, the gears and DB (what style does not matter), in addition to this data, container supports drag_and_drop, this is the problem I need to data container stretched to a size equal ZoomBorder, so as not to rewrite drag_and_drop and besides, I really like how ZoomBorder, and I find it very easy to sync it with map zooming.
![default](https://cloud.g

[2017-03-29 17:14] Art77 commented on #4
Did not continue to dwell on this issue, and decided redefined DragAndDrob in ZoomBorder. The question can be closed.

[2017-03-29 17:14] #4 closed

[2017-07-24 07:20] facelesspanda opened #7 "[WPF]Resizing the window resets the view"
Hello,

I'm trying this control out, and I like how the zoom behaves with a static window, but whenever I change the size of the window, the zoomborder resets.

Xaml looks like this.
[code]

I thought "oh, maybe it's that auto-fit thing", so I copied the key input bit from the demo, and tried to fiddle, but whenever I enable "Extent" or "Fill", my image just disappears from view. Any idea what mig

[2017-08-01 19:35] wieslawsoltes commented on #7
@facelesspanda Fixed this issue in latest nightly build.

[2017-08-01 19:35] #7 closed

[2017-08-17 13:53] JobaDiniz opened #8 "[WPF] Zoom inside tab stops to work"
I have 3 tabs, one of which `ZoomBorder` is defined.
When I start switching tabs, the `ZoomBorder` stops to work. I think this has something to do with the `Unload` event of `ZoomBorder`.

**Edit**
These [lines](https://github.com/wieslawsoltes/PanAndZoom/blob/0.5.1/src/Wpf.Controls.PanAndZoom/ZoomBorder.cs#L51-L60) are the issue. The library handles the `Unloaded` event however it should also han

[2017-08-17 21:52] wieslawsoltes commented on #8
Thank you for reporting the issue. Will take a look as soon as possible.

[2017-08-18 06:57] wieslawsoltes commented on #8
@JobaDiniz Could you try latest master, I have pushed support for `Loaded` event. You can use `NuGet` nightly feed for testing https://github.com/wieslawsoltes/PanAndZoom#nuget

[2017-08-20 15:02] wieslawsoltes commented on #8
@JobaDiniz This should be fixed in latest master.

[2017-08-20 15:02] #8 closed

[2017-08-29 19:20] JobaDiniz opened #10 "How much zoom is applied?"
How do I get how much zoom is applied?

[2017-08-29 19:46] wieslawsoltes commented on #10
Currently there is no property exposed with current zoom value. I should probably add this. I only use InvalidatedChild callback action which is called everytime zoom changes. First two parameters are zoom in X and Y axis, last two are current pan offsets in X and Y axis.

[2017-08-29 19:48] JobaDiniz opened #11 "How to constraint how much zoom is applied?"
Is there a way to constraint how much zoom can be applied (in and out)?

[2017-08-29 21:05] wieslawsoltes commented on #11
No. This functionality is not implemented currently. Should be easy to add.

[2017-08-30 14:26] wieslawsoltes commented on #10
It will be possible using following properties:
[code]
after #12 PR will be merged.

[2017-08-30 14:27] wieslawsoltes commented on #11
It will be possible using following properties:
[code]
after #12 PR will be merged.

[2017-08-30 14:28] #10 closed

[2017-08-30 14:28] #11 closed

[2017-09-03 18:41] bezblue opened #13 "how use with ScrollViewer"
how use with ScrollViewer bro.

[2017-09-03 19:51] wieslawsoltes commented on #13
The control is not really designed to be used with ScrollViever.

[2017-09-05 05:47] zubairrana opened #14 "Enable panning on left mouse button down"
By default panning is enabled on right mouse button down but the standard of using panning or dragging is through left mouse button down. Can you please guide how to shift this control from right button to left button. @wieslawsoltes

Thanks

[2017-09-05 08:36] wieslawsoltes commented on #14
The default depends on application and this control is used in drawing software where right mouse button is used for panning. I will take a look how to enable this to be configured.

[2017-09-05 09:14] facelesspanda commented on #14
@wieslawsoltes when you look at it most often there is a "pan tool" which pans on held left clicks.
This tool concept is outside of your scope, sure, but as long as "CanDrag" and "CanZoom" are togglable, it would be beneficial that the inputs for dragging and zooming can be configured at will

[2017-09-05 09:46] wieslawsoltes commented on #14
Sure I will make them configurable.

[2017-09-05 10:05] zubairrana commented on #14
@wieslawsoltes i have found your code from stackoverflow with panning on left mouse button down. Here is the link:
https://stackoverflow.com/a/6782715/6482266

I am working on this code to combine it with the nuget package to fulfill my requirements. Now the only problem is that this old code does not contain few keyEvent methods like Fill(), AutoFit() etc. I am trying to figure out these also. Ho

[2017-09-06 13:10] JobaDiniz commented on #11
Hi, those properties should be "bindable", that is, they should be **DependencyProperty** otherwise I cannot bind to them.

Can you make these changes?

[2017-09-06 13:10] JobaDiniz commented on #10
Hi, those properties should be *"bindable"*, that is, they should be **DependencyProperty** otherwise I cannot bind to them.

Can you make these changes?

[2017-09-06 17:30] wieslawsoltes commented on #10
@JobaDiniz Fixed in master.

[2017-09-06 17:30] wieslawsoltes commented on #11
@JobaDiniz Fixed in master.

[2017-09-16 11:42] wieslawsoltes commented on #14
@zubairrana This issue is fixed on lates master. Use `PanButton` property to set desired pan button:
[code]

[2017-09-16 11:42] #14 closed

[2017-09-16 11:42] #13 closed

[2017-11-27 13:01] ahancock1 opened #15 "When large content is used the render area is not updated correctly"
When the content is large say 3222x3222 pixels and the render area is considerably less, the contents render area is not updated correctly. I'll fork the latest branch and create a pull request later today.

[2017-11-27 14:53] wieslawsoltes commented on #15
@ahancock1 I could not reproduce this issue on my machine.

![2017-11-27_15-52-43](https://user-images.githubusercontent.com/2297442/33272671-222ff782-d38b-11e7-9211-09dedb11b7d1.gif)

[2017-11-27 16:51] ahancock1 commented on #15
It seems the issue is i wasn't using a canvas. If you change that canvas to a Grid, you might see the behaviour i'm seeing which is where only a portion of the content is rendered.

[2017-11-28 18:15] wieslawsoltes commented on #15
@ahancock1 Grid layout in WPF is causing all sorts of issues. I have same control for Avalonia and works as expected.

[2017-12-05 05:17] nicfulton opened #16 "NuGet Version is from 6 months ago"
Hi! Thanks for the work on this - really great. I'm pleased to see the PanButton update which I would like to use but I'm generally restricted to importing packages through NuGet. I note the NuGet, v0.5.1, version is from 6 months ago. Any change to publish an update with the added features? Thanks - not sure this is technically an 'issue'. Sorry if I'm abusing this.

[2017-12-05 07:31] wieslawsoltes commented on #16
@nicfulton Sorry for this. I am aware of this issue. The release version is coupled with version of AvaloniaUI  framework, because they do not released recently any updates I am using theirs nightly NuGet feed. Because of this I can not release on official NuGet. You can use nightly NuGet feed for PanAndZoom, see more details here https://github.com/wieslawsoltes/PanAndZoom#nuget

[2017-12-05 07:59] nicfulton commented on #16
No need to be sorry. I totally understand. And in fact your solution of adding the alternative NuGet source will work for me. I just tried and it worked well. Thanks so much for the amazingly quick response!

[2017-12-06 10:10] ahancock1 commented on #15
No trouble, thanks for looking into this. I settled to using Canvas in the end as i couldn't get a work around working with the Grid

[2017-12-06 13:42] wieslawsoltes commented on #15
I did try to get Grid working but WPF layout and transforms are just to unpredictable and so many special cases exists that it would take a lot of time.

[2018-01-14 20:19] mnusr opened #17 "using ZoomBorder as ItemsPanelTemplate for ItemsContro.ItemsPanel"
Hi,

how do i use ZoomBorder as ItemsPanelTemplate for ItemsContro.ItemsPanel?

[code]

at the moment it gives me the following exception:
InvalidOperationException: VisualTree of ItemsPanelTemplate must contain a Panel. 'Wpf.Controls.PanAndZoom.ZoomBorder' is not a Panel.

Thanks for your help.

[2018-01-15 09:03] wieslawsoltes commented on #17
ZoomBorder derives from Border control which only supports single Child control. You need to wrap your ItemsControl inside of ZoomBorder control.

[2018-01-15 09:03] #17 closed

[2018-02-18 12:45] wieslawsoltes commented on #16
Will release new version today.

[2018-02-18 12:45] #16 closed

[2018-02-18 13:28] wieslawsoltes commented on #15
Closing as I could not find solution.

[2018-02-18 13:28] #15 closed

[2018-06-29 15:39] AndrueCope opened #18 "Nuget package fails compile, because packages are missing classes."
It works but there's a problem when I zoom in the image expands outside of its original area and fills the entire window. Xaml also attached.

Images attached. Note how the image 'underlaps' the buttons when zoomed in :-/
![afterzoom](https://user-images.githubusercontent.com/16834359/42101410-f403b028-7bba-11e8-9041-00363c9cdf6a.png)
![before](https://user-images.githubusercontent.com/16834359/42

[2018-06-29 15:41] wieslawsoltes commented on #18
Set `ClipToBounds="True"` on control or parent.

https://github.com/wieslawsoltes/PanAndZoom/blob/c93ea85be8ec5042d0f045fad241e9bac363a921/samples/WpfDemo/MainWindow.xaml#L52

[2018-06-29 15:43] AndrueCope commented on #18
Thank you!

[2018-06-30 01:04] #18 closed

[2018-07-25 12:39] Crewman123 opened #19 "Typo"
There is a small copy paste issue in Wpf.Controls.PanAndZoom/ZoomBorder.cs at line 65

 public double ZoomY => (double)GetValue(ZoomXProperty);

should be Zoom**Y**Property probably

[2018-07-25 12:59] wieslawsoltes commented on #19
@Crewman123 Thanks! Fixed via https://github.com/wieslawsoltes/PanAndZoom/commit/a6ef98ca0301d66ae722b8a04fdf8c1b825dc12a

[2018-07-25 12:59] #19 closed

[2018-07-27 08:56] Crewman123 opened #20 "ZoomBorder inside TabControl (WPF)"
TabControl in WPF is a bit special it loads and unloads the content of its TabControl Items each time a tab is shown or hidden.

This causes the `PanAndZoom_Loaded` and `PanAndZoom_Unloaded` eventHandlers to be called multiple times.

This results in the following behavior:
If I switch the tab in the TabControl, zoom and offset of the ZoomBorder Control is always reset to default. I am not sure if

[2018-10-23 00:09] outlookhazy opened #21 "Pan Constraints Relative to Child Size"
Is there a straightforward way to limit the x/y min offset to prevent the child edges from actually entering the border?

What i'm trying to accomplish is limiting pan/zoom so that the child (image in my case) always touches each edge of the container. In my use case, there is no reason for the right edge of the child element to be halfway across the border (for example)

I can _almost_ do this by

[2018-10-23 05:59] wieslawsoltes commented on #21
@outlookhazy It probably is possible, just not yet implemented.

[2018-10-23 11:47] outlookhazy commented on #21
@wieslawsoltes understood, I wasn't sure if maybe I was missing something. Thanks for sharing!

[2018-12-18 17:11] csjturbine commented on #21
@outlookhazy , @wieslawsoltes I'm having a similar issue.  I don't want users to be able to pan past the right edge of an image inside the zoom control.  Any guidance on how to restrict this would be greatly appreciated.  BTW I love this user control.

[2018-12-20 09:34] wieslawsoltes commented on #21
@csjturbine I would start by looking at the existing constraints:
https://github.com/wieslawsoltes/PanAndZoom/blob/18ce5d320bcbc4c00983114f2cddaeef2def4838/src/PanAndZoom/IPanAndZoom.cs#L58-L101
https://github.com/wieslawsoltes/PanAndZoom/blob/18ce5d320bcbc4c00983114f2cddaeef2def4838/src/Wpf.Controls.PanAndZoom/ZoomBorder.cs#L511-L550
https://github.com/wieslawsoltes/PanAndZoom/blob/18ce5d320bcbc4

[2018-12-25 03:04] ashelleyPurdue opened #24 "[Feature request] zooming using pinch-to-zoom on touch devices"
Currently, the only way to zoom is to use a scroll wheel.  While this is wonderful on the Desktop, I'm pretty hosed when it comes to using my Surface.  Is there any chance you can adapt this to work with pinch-to-zoom?

[2018-12-26 08:17] wieslawsoltes commented on #24
I don't have touch device to test this feature. So this is currently low priority, also AvaloniaUI doesn't support touch.

[2019-04-16 16:34] #24 closed

[2019-04-22 21:11] AeroClassics opened #26 "P&Z Border works differently with a Canvas or an Image"
When I use the ZoomBorder with a Canvas everything works quite well, but when I use it with an Image the image is cropped and shows only in the upper left of the window. Am I doing something wrong or is there a problem? Do I need to do something different if the ZoomBorder contains an Image?

Thanks,
Doug

[2019-06-27 14:14] gosha20777 opened #27 "How PanTo() works?"
I want to go up, when I press up button.
My code is:
[code]

[2019-06-27 20:41] wieslawsoltes commented on #27
You need to call each time:
[code]

[2019-06-27 20:42] #27 closed

[2019-06-27 23:12] gosha20777 commented on #27
It steel not work.
I've replace `zoomBorder.PanTo(0, 0.5)` to `zoomBorder.StartPan(0, 0.5)` and it dose not work. Nothing happens.

[2019-06-28 05:19] wieslawsoltes commented on #27
You have to call
[code]

[2019-06-28 10:34] gosha20777 commented on #27
@wieslawsoltes Nothing happens.

So my code is:
[code]
- If I remove line `StartPan()` and stay only `PanTo();` it works very strange. It does not work correctly. It moves to the random(?) position.
- If I remove line `PanTo()` and stay only `StartPan();` it dose not work. Nothing happens.
- If I call `StartPan()` before `PanTo()` it dose not work. Nothing happens.
- If I call `PanTo()` before `St

[2019-06-28 10:43] wieslawsoltes commented on #27
Try:
[code]

[2019-06-28 10:43] gosha20777 commented on #27
I cant understand
1. Which X and Y I should put into StartPan() and PanTo() functions to go directly up when i press e.g. UP button on the keyboard.
2. Why when I call StartPan() before PanTo() it does not work?
3. Should I put defriend points X and Y to StartPan() \ PanTo() (e.g. StartPan(X1, Y1); PanTo(X2, Y2)?

[2019-06-28 10:44] wieslawsoltes commented on #27
https://github.com/wieslawsoltes/PanAndZoom/blob/4794df21a3be69d2f1c2fb09660b43bd209f110d/src/Avalonia.Controls.PanAndZoom/ZoomBorder.cs#L564
https://github.com/wieslawsoltes/PanAndZoom/blob/4794df21a3be69d2f1c2fb09660b43bd209f110d/src/Avalonia.Controls.PanAndZoom/ZoomBorder.cs#L570-L571

[2019-06-28 10:46] wieslawsoltes commented on #27
The intended use was only for mouse manipulation not from code behind by user. So the API assumes you always call `StartPan` with initial pan position and later call `PanTo` with new position. The `PantTo` than calculates delta of `StartPan` initial position and `x` and `y` coordinates provided to `PanTo`.

[2019-06-28 10:49] gosha20777 commented on #27
Yes I understand. It works. Thank you sooooooooooooooo much!

[2019-08-29 09:15] Suplanus opened #28 "Strong name signing"
In some cases I only could use strong named DLLs. Would love to see this in the NuGet.

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/strong-name-signing.md

Thanks for your great work!

[2019-11-12 07:23] tipotalpo opened #29 "PanAndZoom Line Bug"
Save my name is Roberto I write from Italy.
I'm using the PanAndZoom control for a Wpf trading application creating a candlestick chart.
I need to insert several horizontal lines that display the price to the whole graph, the lines are created and displayed only if the canvas does not exceed a certain horizontal measurement
I am attaching the link to the video. Thanks
[https://drive.google.com/ope

[2019-12-25 09:56] gorogbalazs commented on #26
Not sure if this is the same problem, but if I add any control to the zoomborder that is bigger than the zoomborder size, it does the same: only displays the upper left part if I zoom in. I tried ItemsControl, Canvas and Border. Probably what you see with your image is the same.
If I maximize my window though, ArrangeOverride is called and everything is drawn fine (I guess only as long as the cont

[2019-12-25 11:58] gorogbalazs commented on #26
I have the same with ItemsControl. This code works as expected:
`        <paz:ZoomBorder Name="zoomBorder" Stretch="None" ZoomSpeed="1.2"
                        Background="SlateBlue" ClipToBounds="True" Focusable="True"
                        VerticalAlignment="Stretch" HorizontalAlignment="Stretch"
                        Grid.Row="4" Grid.Column="1">
            <Canvas Width="1122" Height="7

[2019-12-29 10:16] gorogbalazs commented on #26
I found this workaround:

        <paz:ZoomBorder Name="zoomBorder" Stretch="None" ZoomSpeed="1.2"
                    Background="SlateBlue" ClipToBounds="True" Focusable="True"
                    VerticalAlignment="Stretch" HorizontalAlignment="Stretch"
                    Grid.Row="4" Grid.Column="1">
            <Canvas>
                <Canvas Width="1122" Height="793" Canvas.ZIndex ="0" >

[2020-01-02 22:03] jedidiah81 commented on #20
I got the same thing, I've never seen this on a wpf control before, so maybe the code in the Loaded event should be elsewhere.
It's easy to workaround by saving the x,y and ratio values in UnLoaded and setting them again on Loaded.
Apart from that, excellent control, thank you very much!!! It would be great to add 'Rotate' too - I have done this manually using a Render Transform on the ZoomBorder

[2020-03-04 13:01] sirdoombox opened #30 "Events for child state changes."
So far as I can tell there are no events available for position/zoom changed nor any overridable methods for implementing extra behaviour on top of the control. `SizeChanged` is the only one I could think of but that never seems to fire on either the control itself nor any of the children.

[2020-03-06 08:53] #20 closed

[2020-03-06 08:53] #21 closed

[2020-03-06 08:53] #26 closed

[2020-03-06 08:53] #28 closed

[2020-03-06 08:53] #29 closed

[2020-03-06 08:53] #30 closed

[2020-05-11 23:24] aselby opened #32 "Pan Lock"
A feature request:

Make it so that you can't pan the image off the screen, if you look at how windows 10 photos works a feature like that would be awesome.

[2020-06-07 05:29] sn4k3 opened #33 "Performance issues when using large images"
[code]

Have done a simple test and loaded a 2560x1440 black and white image, the pan and zoom gets very slow as it zoom in more, also image gets blury at high zoom levels. Is there anything i can add to get better performance?

[2020-07-01 08:16] RomanSoloweow opened #34 "ScrollViewer support for ZoomBorder"

[2020-07-01 08:47] RomanSoloweow opened #35 "EnablePan not found"

[2020-07-02 05:28] wieslawsoltes commented on #35
You need to use nightly build feed, not yet released as stable.

https://github.com/wieslawsoltes/PanAndZoom#nuget

[2020-07-02 05:28] #35 closed

[2020-07-02 05:31] wieslawsoltes commented on #34
I do not have implementation for ScrollViewer.

For pan and zoom I am using RenderTransform:

https://github.com/wieslawsoltes/PanAndZoom/blob/fd3151b43bda60c6db4b3f04b1e0acc94fe35f6e/src/Avalonia.Controls.PanAndZoom/ZoomBorder.cs#L565-L567

and internally I use Matrix for calculation:

https://github.com/wieslawsoltes/PanAndZoom/blob/fd3151b43bda60c6db4b3f04b1e0acc94fe35f6e/src/Avalonia.Controls.

[2020-07-03 02:22] RomanSoloweow commented on #35
Can you help me with zoom for [SimpleStateMachineNodeEditor](https://github.com/SimpleStateMachine/SimpleStateMachineNodeEditor) please. It's [issue](https://github.com/SimpleStateMachine/SimpleStateMachineNodeEditor/issues/15)

[2020-07-03 03:31] RomanSoloweow opened #36 "Bug: some move after reaching max or min zoom"
After reaching  max or min zoom on MouseWheel we have some translate for our elements.

I think this is because we continue to set CenterX and CenterY for ScaleTransform after reaching  max or min.

We need just block it if zoom value already max or min.

[2020-07-03 04:08] RomanSoloweow opened #37 "ZoomIn and ZoomOut methods"
These methods simply add or reduce the previously set step to zoom.

[2020-07-03 04:09] RomanSoloweow opened #38 "Zoom and Pan events"
Events, subscribing to which you can do additional necessary logic

[2020-07-03 04:12] RomanSoloweow opened #39 "Documentations"
We don't have description for methods off control.

[2020-07-03 10:39] RomanSoloweow opened #40 "ViewModel for realize MVVM"
A class that will contain all the methods and fields.

[2020-07-03 10:41] wieslawsoltes commented on #40
@RomanSoloweow For which MVVM framework? I don't think this is the scope of this project.

You can use https://github.com/wieslawsoltes/PanAndZoom/blob/da1b3a6a39e869fc4f782a35fdad563642b51eb0/src/PanAndZoom/IPanAndZoom.cs#L10

[2020-07-03 10:43] RomanSoloweow opened #41 "Contribution"
How i can contribute in build, where we have EnablePan and EnableZoom?

[2020-07-03 10:49] RomanSoloweow commented on #40
We can realize INotifyPropertyChanged object and use it as datacontext for panzoomborder. I can try to do it

[2020-07-03 10:50] wieslawsoltes commented on #41
We have to wait for 0.10.0 release of Avalonia, otherwise you have to use nightly NuGet feed.

[2020-07-03 10:51] RomanSoloweow commented on #41
Can i contribute to WPF?

[2020-07-03 10:54] wieslawsoltes commented on #41
I am deprecating WPF version as I no longer use it and extend. Latest version is 2.3.3 and last one.

Last version is here: https://github.com/wieslawsoltes/PanAndZoom/tree/WPF

Also I am working on new version of ZoomControl, so this one will also be no longer updated

It will be based on https://github.com/wieslawsoltes/Draw2D/tree/master/src/Draw2D/Zoom

[2020-07-03 10:59] RomanSoloweow commented on #41
PanAndZoom will only be for Avalonia?

[2020-07-03 11:45] wieslawsoltes commented on #41
Not really Avalonia only. It will be just no longer actively developed as I mentioned above I am planning to do different version.

[2020-07-03 11:55] RomanSoloweow commented on #41
Will the new version support WPF?
When do you plan to release a new version?

[2020-08-22 15:01] dfkeenan opened #43 "Using ZoomBorder inside the TabControl resets zoom and pan"
Hi,

I am using the `ZoomBorder` control in a Tab. When I switch between tabs it resets the zoom and pan. I am not sure if this is an Avalonia issue or I am using the control wrong etc. I am currently on Avalonia 0.10-preview2.

Otherwise I really like this control. :)

Thanks,
dfkeenan

[2020-08-24 12:18] wieslawsoltes commented on #43
Not sure, can you provide sample xaml?

[2020-08-24 12:19] wieslawsoltes commented on #43
Did you try setting `Stretch` property to `None`? Default is `Uniform`.

[2020-08-24 12:20] wieslawsoltes commented on #41
No plans for WPF version, the new version will be release as soon as Avalonia releases, currently there are preview builds released.

[2020-08-24 12:21] wieslawsoltes commented on #39
Looks at https://github.com/wieslawsoltes/PanAndZoom/blob/master/src/PanAndZoom/IPanAndZoom.cs, the intellisense is VS should pick those.

[2020-08-24 12:22] wieslawsoltes commented on #37
Added https://github.com/wieslawsoltes/PanAndZoom/blob/e414b2ac5b41b8cc35fcb9ee70dd511e583750d8/src/PanAndZoom/IPanAndZoom.cs#L139-L147

Will be available in next stable release, currently available in previews.

[2020-08-24 12:22] #37 closed

[2020-08-24 12:24] wieslawsoltes commented on #33
Is this WPF or Avalonia ? You can probably change image quality when zooming, to speed things up, but this will result in worse rendering quality and faster speeds.

[2020-08-24 12:25] wieslawsoltes commented on #32
You can set `EnablePan=false` to enable pan lock.

https://github.com/wieslawsoltes/PanAndZoom/blob/e414b2ac5b41b8cc35fcb9ee70dd511e583750d8/src/PanAndZoom/IPanAndZoom.cs#L104

[2020-08-24 12:25] #32 closed

[2020-08-24 12:27] wieslawsoltes commented on #36
You can set property  `EnableConstrains=true` and set properties for required zoom limits `MinZoomX`, `MaxZoomX`, `MinZoomY` , `MaxZoomY`.

https://github.com/wieslawsoltes/PanAndZoom/blob/e414b2ac5b41b8cc35fcb9ee70dd511e583750d8/src/PanAndZoom/IPanAndZoom.cs#L59

https://github.com/wieslawsoltes/PanAndZoom/blob/e414b2ac5b41b8cc35fcb9ee70dd511e583750d8/src/PanAndZoom/IPanAndZoom.cs#L61-L79

[2020-08-24 12:27] #36 closed

[2020-08-24 12:28] wieslawsoltes commented on #41
I think original question for answered and fixed, and as there are no future plans for WPF releases I will close the issue. Please open new issues related to Avalonia builds or new features if needeed.

[2020-08-24 12:28] #41 closed

[2020-08-24 12:29] wieslawsoltes commented on #40
I think we can close this issue, there is IPandAndZoom interface that should be sufficient.

[2020-08-24 12:29] #40 closed

[2020-08-24 12:30] wieslawsoltes commented on #39
If anyone wan't to contribute documentation please submit PR, I have currently no plans, there are API intellisense docs and sample apps.

[2020-08-24 12:30] #39 closed

[2020-08-24 14:58] sn4k3 commented on #33
It's Avalonia, the bigger the image the worst performance is, even to pan... Also image distorcing pixels, they get blury, this make this component not so good to use since it kill the user interaction.
Back on WinForms i use https://github.com/cyotek/Cyotek.Windows.Forms.ImageBox which no matter the resolution, renders are always instants (no delay) and never distorce pixels. Since WPF is made fo

[2020-09-16 15:36] MuhammadSulaiman001 opened #44 "PanAndZoom with WindowsFormsHost"
I tried to use PanAndZoom  with WindowsFormsHost but it did not work:

[code]

Is there any way to make it work?

[2020-10-28 07:01] wieslawsoltes commented on #44
https://docs.microsoft.com/en-us/dotnet/desktop/wpf/advanced/layout-considerations-for-the-windowsformshost-element?view=netframeworkdesktop-4.8#layout-limitations

[2020-10-28 07:01] #44 closed

[2020-11-22 12:35] #38 closed

[2020-11-22 17:40] wieslawsoltes commented on #34
Initial support added into master.

[2020-11-22 17:40] #34 closed

[2020-11-22 21:30] wieslawsoltes commented on #43
@dfkeenan This is fixed in `master` branch. You can try [nightly NuGet feed](https://pkgs.dev.azure.com/wieslawsoltes/GitHub/_packaging/CI/nuget/v3/index.json) or wait for next release of Avalonia (preview or stable).

[2020-11-22 21:30] #43 closed

[2020-11-22 21:43] wieslawsoltes commented on #43
![2020-11-22_22-28-09](https://user-images.githubusercontent.com/2297442/99917956-1764a600-2d14-11eb-8b8a-adfd9acb9620.gif)

[2020-11-23 08:25] wieslawsoltes commented on #33
@sn4k3 Please take a look at proposed solution here https://github.com/AvaloniaUI/Avalonia/issues/2849

[2020-11-23 08:25] #33 closed

[2021-01-14 21:09] piotrek-b opened #45 "Most recent stable release requires Avalonia Beta version."
Hello,

I've came across this library and found it useful in the project, however - I'm not able to use the latest stable version (2.3.3). I'm using 2.3.2 instead. This is because of the fact that most recent version uses AvaloniaUI beta version `0.9.999-cibuild0006647-beta`. I don't think that's good if not needed, wouldn't 0.9.12 be enough? I would like to use `zoomChanged` event handler but it'

[2021-01-14 21:12] wieslawsoltes commented on #45
This looks like some issue with my automated CI system. Will do fix realease.

[2021-01-14 21:49] wieslawsoltes commented on #45
Fixed version has been published https://www.nuget.org/packages/Avalonia.Controls.PanAndZoom/2.3.4

[2021-01-14 21:49] #45 closed

[2021-01-16 11:18] piotrek-b commented on #45
This version does not include `ZoomChanged` event handler support, is this intentional?

[2021-01-16 13:03] wieslawsoltes commented on #45
This requires newer AvaloniaUI.  You can use 3.0.0-rc1

[2021-01-17 13:02] piotrek-b commented on #45
Are there any docs on how to setup a project in newer Avalonia version? It seems that it's not compatible with previous version, it does not show any UI on build and run

[2021-01-17 13:14] wieslawsoltes commented on #45
https://github.com/AvaloniaUI/Avalonia/wiki/Breaking-Changes#09---010

[2021-01-17 16:39] piotrek-b commented on #45
Ok I went through it but I'm not able to run my app, I'm only able to build it. No errors, just nothing besides building happens.

`dotnet run` logs:

[log.txt](https://github.com/wieslawsoltes/PanAndZoom/files/5826441/log.txt/)

`Program.cs`:

[code]

[2021-05-28 19:48] DavidBergstromSWE commented on #34
To be useful, WPF control is also in need of ScrollViewer support. Any plans for adding this?

[2021-05-29 04:53] wieslawsoltes commented on #34
WPF control is no longer under active development.

[2021-06-04 14:11] stevensrf11 opened #46 "Not support images?"
Does this control support images?
I downloaded the source code, and in the example sample on the second tab I place what was in the canvas with an image and the sample project exited on start up.

[2021-06-24 02:44] yuyue5945 opened #49 "Can't Trigger button Command"
a button in the panAndZoom,binding a command ， can't trigger the command

out of the panAndZoom zoon, can trigger

how to do to solu the issue

[2021-06-24 03:49] wieslawsoltes commented on #46
Yes it does support.

[2021-06-24 03:49] #46 closed

[2021-06-24 03:50] wieslawsoltes commented on #49
Can you post a simple repro?

[2021-06-24 03:50] #49 closed

[2021-08-12 22:38] Bastani commented on #33
For anyone looking for a solution, you have to add the following lines to your program.cs file in Avalonia

![image](https://user-images.githubusercontent.com/16762845/129278755-b179a2cd-a61f-4155-9d6d-7df9869df60e.png)

[2021-10-27 17:09] adirh3 opened #54 "StackOverflow when zooming"
Can't reproduce it, but when tried to zoom while scrolling it happen, hopefully the stack trace might help -
![image](https://user-images.githubusercontent.com/27368554/139113510-677c30bb-946b-4005-88a4-81976a163202.png)

[2021-11-25 01:14] maxkatz6 opened #55 "Ambiguous reference with Avalonia 0.10.10 and PanAndZoom 4.3.0"
![Screen Shot 2021-11-24 at 8 12 43 PM](https://user-images.githubusercontent.com/3163374/143334436-440d9979-e2f1-4b98-836d-b5f42f8f6ffa.png)
![Screen Shot 2021-11-24 at 8 12 54 PM](https://user-images.githubusercontent.com/3163374/143334446-91e19014-5c12-4957-a69f-59bbf5cd08d9.png)

[2021-11-25 06:44] wieslawsoltes commented on #55
This was just temporary fix, will remove in next release. TheTransformOperationsTransition has been fixed in Avalonia, waiting for 0.10.11 release. Please use xmlns in the meantime. Will do service release 10.11.1-rc.1 shortly but it will require 0.10.11-rc.1 version of Avalonia.

[2021-11-25 07:37] wieslawsoltes commented on #55
Fixed in master branch and in 10.11.1-rc.1 release

[2021-11-25 07:37] #55 closed

[2021-11-25 07:50] wieslawsoltes commented on #54
@adirh3 Did you get that exception again, I could not repro the issue.

[2021-11-25 08:20] adirh3 commented on #54
Yes, I did, I believe it happens when trying to scroll using the scroll bars with Pan disabled.
It happens very rarely, will try to make a repro.

[2022-02-09 14:13] squirrelfeng opened #56 "Is it possible to support Preview with AvaloniaRider plugin"
Hi, good tool, thanks! But when I use it in my axaml, AvaloniaRider plugin is unable to preview design, it gives below warning:

Is it possible to be compatible? Thanks!

[code]

[2022-06-13 05:22] AbdalaMask opened #60 "how using Avalonia.Controls.PanAndZoom to android"
how using Avalonia.Controls.PanAndZoom to android

[2022-07-21 16:36] HoneyTauOverTwo commented on #54
I am encountering this issue as well...
I have a big image loaded within the zoom area (8255x5504) which makes the GUI kind of slow.
From what I can tell, it appears like when the GUI freezes a bit while zooming in and I try to pan using the ScrollViewer bars, I get the StackOverflow at

``public static void Main(string[] args) => BuildAvaloniaApp().StartWithClassicDesktopLifetime(args);``

which

[2022-07-25 19:56] PhilippPaetzold opened #61 "Rectangular zoom"
I like to use this library for implementing an image viewer. So far it works great for panning and zooming with the mouse wheel. What I am missing is a rectangular zoom. Could you give me any clues how to best implement this? Thank you for your great work. This is really the best library for panning and scrolling with avalonia.

Best regards
Philipp

[2022-07-28 00:11] victcdva commented on #54
I have the same error, I just used the scroll hard and I moved the scrollbar, it froze and I got that exception, I reproduced the error several times

![image](https://user-images.githubusercontent.com/38483934/181393000-91afb263-433f-4527-9d51-7f82a432b23b.png)

[2022-07-29 05:29] HoneyTauOverTwo commented on #61
Take a look at my fork for it: https://github.com/HoneyTauOverTwo/PanAndZoom/tree/ZoomIntoArea

I also needed this functionality. Peer-reviewing is greatly appreciated.

[2022-07-29 09:31] PhilippPaetzold commented on #61
Thanks @HoneyTauOverTwo, I will review your implementation and try to include it in my app for further testing.

[2022-08-24 15:07] xqyjlj opened #63 "Using ZoomBorder inside the TabControl resets zoom and pan"
This happens when I use demo [10.14.0](https://github.com/wieslawsoltes/PanAndZoom/releases/tag/10.14.0), and [11.0.0-preview1](https://github.com/wieslawsoltes/PanAndZoom/releases/tag/11.0.0-preview1) in Windows

and I found that this phenomenon also happens in wpf("2.3.4")

[2022-10-13 08:22] izaksuilov commented on #56
Had the same problem. The solution is to use
**xmlns:paz="clr-namespace:Avalonia.Controls.PanAndZoom;assembly=Avalonia.Controls.PanAndZoom"**
instead from
**xmlns:paz="using:Avalonia.Controls.PanAndZoom"**

[2022-10-13 11:37] izaksuilov commented on #54
@wieslawsoltes Take a look at this. **I reproduced the problem.** If you pan outside ScrollView and then scroll back using bars the exception is thrown.

**I guess I know where the problem is.** In the file "ZoomBorder.ILogicalScrollable.cs" at lines 90-91 in function CalculateScrollable variables "offsetX" and "offsetY" are set, The original code is:
[code]

I tried to change this code and after

[2022-10-17 00:02] HoneyTauOverTwo commented on #54
I guess I will just add this under line 91 instead:

[code]

It should do the trick, right?

[2022-10-17 09:24] izaksuilov commented on #54
No, it won't do the trick, because, as far as I'm concerned, the error occurs when offsetX == minValue || offsetX == maxValue || offsetY == minValue || offsetY == maxValue. So, the minValue is zero, because there is the Abs func. But I'm not sure how to consider the maxValue, so in my example I always subtract 0.001. There is a chance when ox == 0.001 and I subtract the same 0.001 and then offsetX

[2022-10-17 10:05] izaksuilov opened #64 "Bug when MaxZoom or MinZoom are set"
If you set MaxZoom and try to zoom in it will scroll somewhere. Obviously if you try to zoom in when is already maximum zoom, nothing should change. It is the same thing with MinZoom.

In the example below MaxZoomX="1.4" MaxZoomY="1.4" MinZoomX="0.8" MinZoomY="0.8":
![ZoomError](https://user-images.githubusercontent.com/60542253/196147100-cf660267-63ea-435d-bec6-54cb71499907.gif)

My suggestion is

[2022-10-22 15:23] squirrelfeng commented on #56
Thanks a lot!

[2022-10-22 15:23] #56 closed

[2022-11-08 09:44] spydatron opened #65 "Pan functionality not working"

[2022-11-08 09:59] #65 closed